/* This stylesheet is used to style the admin option form of the plugin. */

/* Customizations */
.hcfw-bold {
    font-weight: bold;
}

/* Rarity */
.hcfw-card-rarity-free,
.hcfw-card-rarity-free:hover {
    color: #000;
}

.hcfw-card-rarity-common,
.hcfw-card-rarity-common:hover {
    color: #0faf03;
}

.hcfw-card-rarity-rare,
.hcfw-card-rarity-rare:hover {
    color: #198eff;
}

.hcfw-card-rarity-epic,
.hcfw-card-rarity-epic:hover {
    color: #ab48ee;
}

.hcfw-card-rarity-legendary,
.hcfw-card-rarity-legendary:hover {
    color: #f07000;
}