/* This stylesheet is used to style the public-facing components of the plugin. */
a.hcfw-card {
    position: relative;
}

div.hcfw-overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    top: 20px;
    left: 50px;
    /*bottom: 15px;
    left: 25px;*/
    z-index: 99;
}

@media(max-width: 768px) {
    div.hcfw-overlay {
        left: -50px;
    }
}

a.hcfw-card.active > div.hcfw-overlay {
    display: block;
}

/* Customizations */
a.hcfw-bold {
    font-weight: bold !important;
}

/* Rarity */
a.hcfw-card-rarity-Free,
a.hcfw-card-rarity-Free:hover {
    color: #000 !important;
}

a.hcfw-card-rarity-Common,
a.hcfw-card-rarity-Common:hover {
    color: #0faf03 !important;
}

a.hcfw-card-rarity-Rare,
a.hcfw-card-rarity-Rare:hover {
    color: #198eff !important;
}

a.hcfw-card-rarity-Epic,
a.hcfw-card-rarity-Epic:hover {
    color: #ab48ee !important;
}

a.hcfw-card-rarity-Legendary,
a.hcfw-card-rarity-Legendary:hover {
    color: #f07000 !important;
}